address {
		font-size: 1.25em;
		font-family: "work sans", sans-serif;
		text-indent: 1em;
}

h2 {
	font-size: 0.9ed;
	font-family: fira mono, lucida console, monospace;
	background-color: #20e52d;
	line-height: 200%
}

img {
	float: left;
	padding-top: 8px;
	padding-left: 40px;
}

.picture {
  height: 100%;
  background-image: url(../assest/contact.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.picture h1 {
    top: 30%;
    color: white;
    font-size: 50px;
    margin: 0px;
    margin-left: 5%;
    display: block;
    position: relative;
}

.picture p {
	top: 30%;
	color: white;
	margin-left: 5%;
	font-size: 18px;
	position: relative;
}

.picture img {
  	position: absolute;
  	top: 90%;
  	left: 45%;
  	cursor: pointer;
}

.content {
  display: none;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #00FA9A;
}

/* animation */
/* bounceInLeft */

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  -webkit-animation-duration: 2s;
  	 -moz-animation-name: bounceInLeft;
  	 -moz-animation-duration: 2s;
  		  animation-name: bounceInLeft;
 		    animation-duration: 2s;

}

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.3, 0.76, 0.24, 0.92);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 0.6;
    transform: translate3d(-30px, 0, 0);
  }

  75% {
  	opacity: 0.75;
  }

  90% {
  	opacity: 0.9;
    transform: translate3d(0px, 0, 0);
  }

  to {
  	opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.3, 0.76, 0.24, 0.92);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 0.6;
    transform: translate3d(-30px, 0, 0);
  }

  75% {
  	opacity: 0.75;
  }

  90% {
  	opacity: 0.9;
    transform: translate3d(0px, 0, 0);
  }

  to {
  	opacity: 1;
    transform: none;
  }
}

@-moz-keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.3, 0.76, 0.24, 0.92);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 0.6;
    transform: translate3d(-30px, 0, 0);
  }

  75% {
  	opacity: 0.75;
  }

  90% {
  	opacity: 0.9;
    transform: translate3d(0px, 0, 0);
  }

  to {
  	opacity: 1;
    transform: none;
  }
}

/* bounceInDown */

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  	 -moz-animation-name: bounceInDown;
  	 -moz-animation-duration: 1s;
  	 -moz-animation-iteration-count: infinite;
  		  animation-name: bounceInDown;
  		  animation-duration: 1s;
  		  animation-iteration-count: infinite;
}

@keyframes bounceInDown {
	from, 50%, 75%, 90%, to {
		animation-timing-function: linear;
	}

	0% {
		opacity: 0;
		transform: translate3d(0, -50px, 0);
	}

	50% {
		opacity: 1;
		transform: translate3d(0, -30px, 0);
	}

	75% {
	    transform: translate3d(0, -15px, 0);
	}

	90% {
	    transform: translate3d(0, -5px, 0);
	}

	to {
	    transform: none;
	}
}


@-webkit-keyframes bounceInDown {
	from, 50%, 75%, 90%, to {
		animation-timing-function: linear;
	}

	0% {
		opacity: 0;
		transform: translate3d(0, -50px, 0);
	}

	50% {
		opacity: 1;
		transform: translate3d(0, -30px, 0);
	}

	75% {
	    transform: translate3d(0, -15px, 0);
	}

	90% {
	    transform: translate3d(0, -5px, 0);
	}

	to {
	    transform: none;
	}
}


@-moz-keyframes bounceInDown {
	from, 50%, 75%, 90%, to {
		animation-timing-function: linear;
	}

	0% {
		opacity: 0;
		transform: translate3d(0, -50px, 0);
	}

	50% {
		opacity: 1;
		transform: translate3d(0, -30px, 0);
	}

	75% {
	    transform: translate3d(0, -15px, 0);
	}

	90% {
	    transform: translate3d(0, -5px, 0);
	}

	to {
	    transform: none;
	}
}