.picture {
  height: 100%;
  background-image: url("../assest/loklok.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
	font-family: courier, courier-new, sans-serif;
	text-align: center;
	}
	
p {
	font-family: trebuchet ms, numbus sans l, sans-serif;
	font-size: 1.1em;
	}

figcaption {
			font-weight: bold;
			font-size: 1.55em;
			font-family: comic-sans-ms, garamond, sans-serif;
			}