h1 {
	font-family: courier, courier-new, sans-serif;
	text-align: center;
	}
	
p {
	font-family: trebuchet ms, numbus sans l, sans-serif;
	font-size: 1.1em;
	}

figcaption {
			font-weight: bold;
			font-size: 1.55em;
			font-family: comic-sans-ms, garamond, sans-serif;
			}

.picture{
    height: 100%;
	width: 100%;
	background-image: url("../assest/penang_view.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.picture img{
	position: relative;
}

.transparent {
	display: none;
}

.content{

}

/* animation */
/* changing */

.changing{
	animation-name: changing;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-delay: 2s;
	animation-timing-function: ease-in-out;
}

@keyframes FadeInOut {
  0% {
    opacity:0;
  }
  50% {
    opacity:1;
  }
  100% {
  }
}
