body {
	margin: 0px;
	animation: fadeIn 2s;
  	-webkit-keyframes: fadeIn 2s;
}

.parallax {
  height: 500px;
  background-image: url("penang.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.header-wrap{
  width: 100%;
  position: fixed;
  background-color: #424242;
}

.text-wrapper {
    text-align: center;
}

.animated-words {
    display: inline-block;
    font-size: 80px;
}

.animated-words span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
    -ms-animation-delay: 3s; 
    animation-delay: 3s; 
    color: #004D40;
}
.animated-words span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
    -ms-animation-delay: 6s; 
    animation-delay: 6s; 
    color: #004D40; 
}

.animated-words span {
    position: relative;
    opacity: 0;
    overflow: hidden;
    color: #004D40;
    -webkit-animation: animateWord 9s linear infinite 0s;
    -ms-animation: animateWord 9s linear infinite 0s;
    animation: animateWord 9s linear infinite 0s;
}

@keyframes animateWord {
    0% { opacity: 0; }
    2% { opacity: 0; }
    5% { opacity: 1; }
    17% { opacity: 1; }
    20% { opacity: 0;  }
    80% { opacity: 0; }
    100% { opacity: 0; }
}

.transparent-header {
	background: transparent;
}

#header {
	position: relative;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.navigation {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
	display: inline;
	float: right;
}

.navigation li a{
	display: block;
	color: white;
	text-align: center;
	padding: 8px 16px;
	text-decoration: none;		
}

.navigation li a:hover{
	background-color:#000;
}

